.signaturewrapper {
  position: relative;
  width: 100%;
  height: 100%;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.signature-pad {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.twobmBorderTop {
    border-top: 1px solid #ddd;
}

.twobmBorderBottom {
    border-bottom: 1px solid #ddd;
}

.twobmNoPaddingLeft.sapMTB {
    padding-left: 0px;
}


.twobmNoPaddingBottom {
	padding-bottom: 0px;
}

.sapMFlexItem .sapMLabel.twobmResaleLabel {
	width: 48px !important;
    font-size: 12px !important;
    padding-top: 2px;
}

.sapMIBar.twobmFooter {
    height: 80px;
    position: fixed;
    left: 0;
    bottom: 47px;
    width: 100%;
    background-color: white;
    border-top: 1px solid #ddd;
}

.twobmBlack {
    color: #333;
}